.navbar {
  display: flex;
  align-items: center;
  height: 75px;
  background: linear-gradient(90deg, rgba(254, 198, 1, 1) 0%, rgba(255, 96, 132, 1) 100%);
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #e9edf4;
  position: fixed;
  width: 100%;
  z-index: 999;
}

.navbar a {
  display: flex;
  align-items: center;
}

@media (min-width: 992px) {
  .menu {
    display: none;
  }
}

.logo {
  height: 32px;
  margin-left: 1rem;
}